/blackbox_attack_data/*
/checkpoints/*
/samples/*
/signal/*
/work_dirs/
/datasets/*
classification_models/*.pt
classification_models/*.pth
classification_models/*.7z
conf_mask.pt
/runs_SMILE/*
/model_checkpoints_SMILE/*
__pycache__/
.pytest_cache
Dockerfile

surrogate_model_checkpoints
weights

output/blackbox_attack_data
output/samples
output/surrogate_model_checkpoints

*tfevents*