/blackbox_attack/*
/blackbox_attack_data/*
/checkpoints/*
/samples/*
/signal/*
/work_dirs/
/datasets/*
classification_models/*.pt
classification_models/*.pth
classification_models/*.7z
conf_mask.pt
/runs_SMILE/*
/model_checkpoints_SMILE/*
__pycache__/
Dockerfile

outputs
weights